<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto">
                {% assign nav_pages = site.html_pages | where_exp: 'p','p.nav' | sort: 'nav_order' %}
                {% for p in nav_pages %}
                <li class="nav-item">
                    <a class="nav-link{% if page.url == p.url %} active{% endif %}" {% if page.url == p.url %}aria-current="page"{% endif %} href="{{ p.url | relative_url }}">{% if p.nav == true %}{{ p.title }}{% else %}{{ p.nav }}{% endif %}</a>
                </li>
                {% endfor %}
            </ul>
            {% if site.search == true %}
            <form role="search" id="nav-search" action="{{ '/search.html' | relative_url }}">
                <input id="nav-search-box" class="form-control" type="search" placeholder="Search" aria-label="Search site" name="q">
            </form>
            {% endif %}
        </div>
    </div>
</nav>